/* pelliculePhotos.css */
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

.center-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  text-shadow:
    3px 3px 0 #42240F,
    -3px 3px 0 #42240F,
    -3px -3px 0 #42240F,
    3px -3px 0 #42240F; /* Créer un effet de contour avec un ombrage */
}


  
  .photos-container { 
    padding: 20px;
  }
  
  .photo {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .photo-legende {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    color: #333;
  }
  