/* Pellicule.css */

.center-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; /* Ajouter de l'espace en dessous du titre */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px; /* Espace entre les cartes */
}

.pellicule-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 40px); /* Ajustement pour deux cartes par ligne avec l'espace */
  max-width: 400px;
  margin-bottom: 40px; /* Augmenter l'espace entre les lignes de box */
  box-sizing: border-box; /* Assurer que le padding et la bordure sont inclus dans la largeur */
}

.card {
  border: 7px solid #42240F;
  padding: 10px;
  width: 100%;
  border-radius: 30px; /* Ajouter des bordures arrondies */
  box-sizing: border-box; /* Assurer que le padding et la bordure sont inclus dans la largeur */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espace entre les éléments pour les aligner uniformément */
  flex-grow: 1; /* Permet à la carte de prendre toute la hauteur disponible */
}

.card img {
  width: 200px;
  display: block;
  margin: 0 auto; /* Centrer l'image horizontalement */
}

.card-title {
  text-align: center; /* Centrer le titre de la carte */
  margin-bottom: 25px; /* Ajouter une marge basse */
}

.card h1, .card h2 {
  font-family: 'Helvetica', sans-serif; /* Utilisation de Helvetica comme police */
}

.card {
  font-family: 'Helvetica', sans-serif; /* Utilisation de Helvetica comme police pour tout le texte à l'intérieur des boxes */
}

.button-container {
  text-align: center; /* Centrer le bouton horizontalement */
  margin-top: 10px; /* Ajouter une marge supérieure pour séparer du contenu de la carte */
}

.photos-button {
  background-color: #42240F; /* Couleur marron */
  color: white; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  padding: 15px 30px; /* Agrandir le bouton en augmentant le padding */
  cursor: pointer; /* Afficher un curseur au survol */
  font-size: 1.2em; /* Augmenter la taille du texte */
}

/* Supprimer le trait au-dessus du bouton */
.button-line {
  display: none;
}
