.profil-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profil-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #42240F;
  }
  
  .profil-details {
    font-size: 1.2em;
    color: #333;
  }
  
  .profil-details p {
    margin: 10px 0;
  }
  
  .profil-details strong {
    color: #42240F;
  }
  